<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="keywords" content="LISBOA, VIAJE, TURISMO, HOSPEDAJE, COMIDA, CURIOSO, CIUDAD">
    <meta name="description" content="Esta guía para viajar a Lisboa te ayudará a preparar una escapada a una ciudad llena de rincones inolvidables y que enamora a todos los viajeros.">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Juntos por el Mundo</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="../../assets/style.css">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <h1>Juntos por el Mundo</h1>
    <main class="block">
        <strong class="block__titulo"> Restaurantes donde comer en Lisboa bien y barato: </strong>
          <p class="block__parrafo">¡Que bien se come en Portugal! Y lo mejor… la gastronomía del país luso es, además de rica, barata. En Lisboa no tendrás dificultades en encontrar sitios donde engordar unos kilillos, pero si quieres alguna recomendación, aquí te traemos.</p>
          <b class="block__negrita">Crisfama</b>
          <p class="block__parrafo">Un local pequeñito, que propone platos tradicionales portugueses, sencillos pero sabrosos. Tiene opciones de pescado a la brasa y de carne muy apetecibles (la dorada a la brasa cuesta 9,50€ y el filete de ternera a la portuguesa 13€). Si tienen bacalhau con nata ¡no lo dudes! Es uno de los platos portugueses más ricos que hay. La calidad en general es muy alta y el trato es bueno. Lo malo es que no es céntrico, pero si tienes tiempo o tu alojamiento está cerca merece la pena ir.</p>
          <b class="block__negrita">El Rei D’frango</b>
          <p class="block__parrafo">Al final de la Avenida da Liberdade nos encontramos con la Plaza de Marqués de Pombal y, si seguimos más hacia el norte, con la de Saldanha. Son zonas clave en el centro moderno de Lisboa y en sus proximidades suele haber bastantes hoteles de tres y cuatro estrellas con muy buena relación calidad precio.</p>
      </main>
      
  <div class="bloque">
        <em class="bloque__titulo">Las 5 mejores zonas para alojarse en Lisboa </em>
          <p class="bloque__parrafo">Hay varias zonas que concentran los hoteles en Lisboa. En este artículo queremos hablaros de qué ventajas e inconvenientes tienen cada una de ellas y cuáles son las mejores zonas para buscar alojamiento en Lisboa.</p>
          <b class="bloque__negrita">Hoteles en Avenida da Liberdade</b>
          <p class="bloque__parrafo">Podemos distinguir varias zonas. En la Avenida da Liberdade -la zona que va de la Plaza de Restauradores hasta Marqués de Pombal- nos encontramos con numerosos hoteles de cuatro y cinco estrellas. Es una zona señorial, de grandes tiendas y teatros. Tiene la ventaja de que está muy cerca del centro histórico de Lisboa -lo que es muy bueno para el turista- y en una zona muy agradable. Lo peor son los problemas para aparcar en la zona.</p>
          <p class="bloque__parrafo">Hay hoteles de cuatro estrellas que, de vez en cuando, tienen buenas ofertas (como el NH Liberdade-con piscina descubierta-), pero lo habitual es encontrarnos con establecimientos de lujo y alto precio como el Sofitel Lisbon Liberdade o el romántico Fontecruz Lisboa ideal para escapadas en pareja.</p>
          <b class="bloque__negrita">Hoteles en las zonas de Saldanha y Marqués de Pombal</b>
          <p class="bloque__parrafo"></p>Al final de la Avenida da Liberdade nos encontramos con la Plaza de Marqués de Pombal y, si seguimos más hacia el norte, con la de Saldanha. Son zonas clave en el centro moderno de Lisboa y en sus proximidades suele haber bastantes hoteles de tres y cuatro estrellas con muy buena relación calidad precio.</p>
          <p class="bloque__parrafo"></p>Lo bueno de esta zona es que es tranquila, no está demasiado lejos del centro (podemos ir andando a la Baixa en un paseo y para volver por la noche desde el Barrio Alto no nos llevará más de diez minutos en taxi), está bien comunicada por transporte público para hacer excursiones y encontrar aparcamiento no es demasiado difícil. Lo menos bueno es que es un área bastante residencial y quizá no haya mucho ambiente turístico o lugares para cenar por la noche (aunque sí hay mucha vida durante el dia con tiendas, bares, restaurantes y supermercados muy cerca).</p>
    </div>

      <section>
          <button class="green">Esta es la Uno</button>
          <button class="yellow">Esta es la Dos</button>
          <button class="red">Esta es la Tres</button>
        </section>


    <ul>
        <li>¡Que bien se come en Portugal! Y lo mejor… la gastronomía del país luso es, además de rica, barata. En Lisboa no tendrás dificultades en encontrar sitios donde engordar unos kilillos, pero si quieres alguna recomendación, aquí te traemos.</li>
        <li> Crisfama</li>
        <li>Un local pequeñito, que propone platos tradicionales portugueses, sencillos pero sabrosos. Tiene opciones de pescado a la brasa y de carne muy apetecibles (la dorada a la brasa cuesta 9,50€ y el filete de ternera a la portuguesa 13€). Si tienen bacalhau con nata ¡no lo dudes! Es uno de los platos portugueses más ricos que hay. La calidad en general es muy alta y el trato es bueno. Lo malo es que no es céntrico, pero si tienes tiempo o tu alojamiento está cerca merece la pena ir.</li>
        <li>El Rei D’frango</li>
        <li>Al final de la Avenida da Liberdade nos encontramos con la Plaza de Marqués de Pombal y, si seguimos más hacia el norte, con la de Saldanha. Son zonas clave en el centro moderno de Lisboa y en sus proximidades suele haber bastantes hoteles de tres y cuatro estrellas con muy buena relación calidad precio.</li>
    </ul>

    
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>